### 1-DISCRETIZACION DE SERIE, DISTRIBUCION UNIFORME ###

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import seaborn as sns

**Ingresamos un array aleatorio**

In [4]:
edades= np.array([1,7,8,15,16,28,35,50,55,70,75,100])

**Aplicamos comandos para la transformacion,
Obersaciones:**
- Asignamos 3 contenedore.
- Asignamos una distribucion uniforme.

In [5]:
resultado= pd.cut(edades,
                  bins=3, #numero de contenedores a crear
                  labels=["Baja","Media","Alta"], #Asignamos etiquetas a los contenedores
                  include_lowest=True, # este comando sirve para incluir los valores mas bajos,para no tener error
                  retbins =True) # comando para saber el tamaño de los contenedores
print(resultado[1]) #Para observar los rangos de captacion 
print(np.array(resultado[0])) #Para observar el nuevo array

[  0.901  34.     67.    100.   ]
['Baja' 'Baja' 'Baja' 'Baja' 'Baja' 'Baja' 'Media' 'Media' 'Media' 'Alta'
 'Alta' 'Alta']

### 2-DISCRETIZACION DE SERIE, DISTRIBUCION NO UNIFORME ###

**Usamos array de ejemplo anterior**

In [7]:
resultado= pd.cut(edades,
                  bins=[-np.inf,11,17,59,np.inf], #definimos rangos "no uniforme"
                  labels=["infante","joven","adulto","mayor"], #Asignamos etiquetas a los contenedores
                  include_lowest=True, # este comano sirve para incluir los valores mas bajos,para no tener error
                  retbins =True) # comando para saber le tamaño de los contenedores
print(resultado[1]) #Para observar los rangos de captacion.
print(np.array(resultado[0])) #Para observar el nuevo array

[-inf  11.  17.  59.  inf]
['infante' 'infante' 'infante' 'joven' 'joven' 'adulto' 'adulto' 'adulto'
 'adulto' 'mayor' 'mayor' 'mayor']

### 3-DISCRETIZACION DE DATAFRAME, DISTRIBUCION NO UNIFORME. ##

In [6]:
import math #Previo a todo, tenemos que ingresar este biblioteca.

In [7]:
df=sns.load_dataset("tips")
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

**Discretizaremos la variable "size", a "talle L" y "talle XL":**

In [8]:
valores= [-math.inf,3,math.inf] #Creamos los intervalos.

In [9]:
categorias= ["talle L", "talle XL"] #Creamos el nombre de los contenedores.

In [10]:
df['size']=pd.cut(x=df['size'], #Reincribimos la modificacion sobre el viejo df
                    bins= valores, 
                    labels= categorias,
                    include_lowest=True) #Este comando es para que no se escapen los datos
df  #Comando para imprimir y ver la modificacion

     total_bill   tip     sex smoker   day    time      size
0         16.99  1.01  Female     No   Sun  Dinner   talle L
1         10.34  1.66    Male     No   Sun  Dinner   talle L
2         21.01  3.50    Male     No   Sun  Dinner   talle L
3         23.68  3.31    Male     No   Sun  Dinner   talle L
4         24.59  3.61  Female     No   Sun  Dinner  talle XL
..          ...   ...     ...    ...   ...     ...       ...
239       29.03  5.92    Male     No   Sat  Dinner   talle L
240       27.18  2.00  Female    Yes   Sat  Dinner   talle L
241       22.67  2.00    Male    Yes   Sat  Dinner   talle L
242       17.82  1.75    Male     No   Sat  Dinner   talle L
243       18.78  3.00  Female     No  Thur  Dinner   talle L

[244 rows x 7 columns]

**Observaciones:**
- Ya tenemos el nuevo df con la modificacino realizada.